* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
	background-color: #99CCFF;
	vertical-align: center;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 1%;
	justify-content: center;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 200
}

.main-title {
	margin-top: 8%;
	margin-bottom: 4%;
	padding-bottom: 1%;

	border-radius: 25px;

	background-color: #FF9966;
	box-shadow: 10px 10px 50px 20px #FFEBEB inset;
}

h1 {
	font-family: 'Slabo 27px', serif;
	font-weight: 400;
	font-size: 350%;
	
	background-color: white;
	border-radius: 25px;
}

.image-cats {
	border-radius: 50%;

}

input {
	background-color: white;
}